* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 10%;
}
/* top navigation for at flytte logo og menu fra hinanden */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Alle de overordnet links*/
.alllinks {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}

/* Div for at styre posistion absolut af dropdown */
.dropdown {
  position: relative;
}

/* Dropdown gemt som standard */
.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid black;
  top: 15px;
  z-index: 1;
  padding: 1rem;
}

/* Link i drop down */
.dropdown-content a {
  min-width: 3rem;
}

/* Her kan du style dropdown links */
.dropdown-content a:hover {
}

/* Viser dropdown menu med hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/*Burger menu */

/*gemmer burger som standard */
.burger {
  display: none;
  cursor: pointer;
}

/*burger icon */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
}

@media (max-width: 600px) {
  /*viser burger menu */
  .burger {
    display: block;
  }

  /*Animation til burger ikon fra 3 lige streger til et kryds når 
  det er aktivt (vi bruger classen active i javascript til at aktivere 
  nedenstående */
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /*fortæller hvor de overordnet lins skal placeres og de ikke skal 
vises på række men som colonne */
  .alllinks {
    position: absolute;
    right: 0;
    top: 2rem;
    display: none;
    flex-direction: column;
    width: 10rem;
    text-align: center;
  }
  /*Viser hvor drop down skal plaveres */
  .dropdown-content {
    position: absolute;
    left: -2.5rem;
    top: 0;
  }

  /*Vi putter active på .alllinks for at vise menuen via javascrips */
  .alllinks.active {
    display: flex;
  }
  .linkknap {
    margin: 16px 0;
  }
}
